@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<br />
<h2>Debartment Id: @Model.Id</h2>
<br />
<h2>Debartment Name: @Model.Name</h2>
<br />
<h2>Manger: @Model.Manager</h2>
<a href="/Department/Index">back to list</a>

