@model List<Instructor>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="/Instructor/NewInstructor">Add New Instructor</a>

<h2>All Instructors</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Img</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th style="width: 10px;"><img src="~/imgs/@item.Img" alt="Alternate Text" style="width:200px; border-radius:100px;"/></th>
            <th>@item.Name</th>
            <th>@item.Salary</th>
            <th>@item.Address</th>
            <th>
                <a href="/Instructor/Details/@item.Id">Details</a>
                <a href="/Instructor/Edit/@item.Id">Edit</a>
                <a class="btn btn-danger" href="/Instructor/Delete/@item.Id"
                   onclick="return confirm('Are you sure you want to delete this instructor?')">Delete</a>
            </th>
        </tr>
    }
</table>