@model Course
@{
    ViewData["Title"] = "New";

    // Explicit Casting
    SelectList deptOptions = new SelectList(ViewBag.DeptList, "Id", "Name");
}

<h1>Add New Course</h1>

@* /Course/SaveNew?Name=value&.... *@

@* <form action="/Course/SaveNew" method="post"> *@

<form asp-action="SaveNew" asp-controller="Course" method="post">

    <!--Tag Helper-->
    @* <div asp-validation-summary="All" class="text-danger"></div> *@
    <div>
        <label asp-for="Name"></label>
        <input class="form form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Degree"></label>
        <input class="form form-control" asp-for="Degree" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="MinDegree"></label>
        <input class="form form-control" asp-for="MinDegree" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Hours"></label>
        <input class="form form-control" asp-for="Hours" />
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DeptId"></label>
        @* <input class="form form-control" asp-for="DeptId" /> *@
        @* <select class="form form-control" id = "DeptId" name = "DeptId" > *@
        <select class="form form-control" asp-for="DeptId" asp-items="deptOptions">
            <option value="0">-- Select Department --</option>
        </select>
        <span asp-validation-for="DeptId" class="text-danger"></span>
    </div>


    <!--Pure HTML-->
    @* <div> *@
    @*     <label>Name</label> *@
    @*     <input class="form-check form-control" type="text" name="Name" id="Name" value="@Model?.Name" /> *@
    @* </div> *@
    @* <div> *@
    @*     <label>Degree</label> *@
    @*     <input class="form-check form-control" type="number" name="Degree" id="Degree" value="@Model?.Degree" /> *@
    @* </div> *@
    @* <div> *@
    @*     <label>MinDegree</label> *@
    @*     <input class="form-check form-control" type="number" name="MinDegree" id="MinDegree" value="@Model?.MinDegree" /> *@
    @* </div> *@
    @* <div> *@
    @*     <label>Hours</label> *@
    @*     <input class="form-check form-control" type="number" name="Hours" id="Hours" value="@Model?.Hours" /> *@
    @* </div> *@
    @* <div> *@
    @*     <label>DeptId</label> *@
    @*     <input class="form-check form-control" type="number" name="DeptId" id="DeptId" value="@Model?.DeptId" /> *@
    @* </div> *@

    <input type="submit" value="Create" class="btn btn-success" />
</form>
@* <a href="/Course/Index">Back To List</a> *@

<a asp-action="Index" asp-controller="Course">Back To List</a>

@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>